<div class="detalles-producto">
    <h3>Detalles Producto</h3>
    <div class="contenedor-detalles">
        <div class="img-producto">
            <img src="{{products.imageProduct}}" alt="">
        </div>
        <div class="detalles">
            <h3>{{products.productName}}</h3>
            <div class="add-product">
                <p class="precio-producto">Precio:{{products.productPrice | currency}}</p>
                <form [formGroup]="addForm" (ngSubmit)="buyProduct(addForm.value)">
                    <button mat-button type="submit" class="positronxx">Agregar al carrito</button>
                </form>
            </div>
            <div class="especificaciones-producto">
                <table class="table-especificaciones">
                    <tr>
                        <th>Descripcion</th>
                        <th>Especificaciones</th>
                    </tr>
                    <tr>
                        <td>
                            {{products.description}}
                        </td>
                        <td>
                            {{products.specifications}}
                        </td>
                    </tr>                        
                </table>
            </div>
        </div>
    </div>
</div>




