<html>
    <app-navbar></app-navbar>
    <body>
        <main class="nosotros">
            <div class="contenido-nosotros contenedor">
                <div class="imagen-nosotros">
                    <img src="assets/nosotros.jpg" alt="">
                </div>
                <div class="sobre-nosotros">
                    <h3>Estamos para brindarte calidad</h3>
                    <p>
                        Permitirles a los usuarios sin conocimientos de hardware y conocimientos de computación saber de una manera sencilla cual
                        es el uso de cada parte de cómputo, su desempeño y para qué tipo de persona es usado;
                        Facilitar la compra de productos de forma online con la información adecuada para que el usuario logre tener un producto que sea apropiado a sus necesidades.
                    </p>
                </div>
            </div>
        </main>
        <section class="mision">
            <div class="contenido-mision contenedor">
                <div class="sobre-mision">
                    <h3>Es nuestra mision</h3>
                    <p>
                        Permitir a los clientes realizar una compra cumpliendo el objetivo de comprar el producto adecuado para cada cliente según
                        su necesidad, para satisfacer las necesidades con productos completos para cada tipo de uso, clasificando los productos para
                        encontrar por medio de la pagina web diversos productos para todo tipo usuario.
                        
                    </p>
                </div>
                    
                <div class="imagen-mision">
                    <img src="assets/nosotros-mision.jpg" alt="">
                </div>
            </div>
            
    
        </section>
        <app-footer></app-footer>
    </body> 
</html>
